Repository lisonge/op-wiki-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "src/**/*.{js,jsx,ts,tsx,vue}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css,scss}": "prettier --write"
}

feat: 1.0.0
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/inject.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix: rename
  vite.config.ts
Due: none

feat: up version
  package.json
  vite.config.ts
Due: prettier --write

feat: git add dist
  .gitignore
  dist/op-wiki-plus.user.js
Due: none

feat: add config
  dist/op-wiki-plus.user.js
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write

docs: add link
  README.md
Due: prettier --write

feat: reactive storage
  src/storage.ts
Due: eslint --fix, prettier --write

feat: new ui
  src/App.vue
  src/util.ts
Due: eslint --fix, prettier --write

feat: add cdn for lodash
  vite.config.ts
Due: none

feat: 1.0.1
  dist/op-wiki-plus.user.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: config merge sort
  src/storage.ts
Due: eslint --fix, prettier --write

feat: v1.1.1
  dist/op-wiki-plus.user.js
  package.json
Due: prettier --write

feat: up plugin-monkey
  README.md
  dist/op-wiki-plus.user.js
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write
